*{padding: 0; margin: 0; box-sizing: border-box;}
body{
  background-color:#ed694b;
}
#container{
  width: 100%;
  max-width: 960px;
  margin: 10px auto 10px auto;
}
header{
  max-height: 200px;
  min-height: 150px;
  border: 1px solid black;
  text-align: center;
  background-color: #fce98d;
  padding-top: 40px;
}
nav{
  max-height: 40px;
  min-height: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: #c4ffe7;
}
nav a{
    padding: 0 10px 0 10px;
}
main{
    border: 1px solid black;
    background-color: #eeeeee;
    padding: 20px;
}
main p{
  margin: 10px 20px;
}
li{
  margin-left: 40px;
}
#quartershot1{
  margin-left: 10px;
  float: right;
  max-width: 300px;
}
#headshot1{
  margin-left: 10px;
  float: right;
  max-width: 250px;
}
#football{
  margin-left: 10px;
  float: right;
  max-width: 300px;
}
footer{
    border: 1px solid black;
    background-color: #c4ffca;
    text-align: center;
}

@media only screen and (max-width: 480px){
 #main{
   padding: 0;
   display: grid;
   grid-template-areas:
   "quart"
   "intro"
   "verse"
   "quot"
   "cont";
 }
 #mainr{
   padding: 0;
   display: grid;
   grid-template-areas:
   "pict"
   "sec1"
   "sec2"
   "sec3"
   "sec4"
   "sec5";

 }
 #mainh{
   padding: 0;
   display: grid;
   grid-template-areas:
   "pict"
   "sec1"
;

 }
#headshot1, #football{
  grid-area: pict;
  justify-content: center;
}
#sec1{
  grid-area: sec1;
  padding-left: 20px;
  padding-right: 20px;
}
#sec2{
  grid-area: sec2;
  padding-left: 20px;
  padding-right: 20px;
}
#sec3{
  grid-area: sec3;
  padding-left: 20px;
  padding-right: 20px;
}
#sec4{
  grid-area: sec4;
  padding-left: 20px;
  padding-right: 20px;
}
#sec5{
  grid-area: sec5;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
 #quartershot1{
   grid-area: quart;
 }
 #quartershot1{
   padding: 20px;
   padding-left: 15px;
   padding-right: 15px;
   max-width: 300px;
   justify-content: center;
   margin:auto;
 }
 #intro{
   grid-area: intro;
   padding-left: 20px;
 }
 #verses{
   grid-area: verse;
   padding-left: 20px;
 }
 #quotes{
   grid-area: quot;
   padding-left: 20px;
 }
 #contact{
   grid-area: cont;
   padding-left: 20px;
   padding-bottom: 5px;
 }
 #headshot1{
   max-width: 300px;
   padding: 20px;
   margin: auto;
 }
 #football{
   max-width: 300px;
   padding: 20px;
   margin: auto;
 }
}
